@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')
  
body
  background: #eee
  margin-bottom: 50px
  font-family: 'Open Sans', sans-serif

hr
  margin: 20px 20% 10px 20%

h3
  color: #222
  text-transform: uppercase

.pageContent
  margin: 0 10%
  > div
    padding-top: 20px