.menu
  padding-top: 90px
  padding-bottom: 10px
  display: flex
  justify-content: center
  background: black
  transform: skewY(-5deg)
  a
    display: inline-block
    text-decoration: none
    color: white
  span
    display: inline-block
    color: white
    padding: 0 10px
