.menu
  padding-top: 10px
  padding-bottom: 10px
  display: flex
  justify-content: center
  background: black
  position: relative
  z-index: 10
  a
    display: inline-block
    text-decoration: none
    color: white
    &:after
      content: '\A0 / \A0' // Non breaking spaces to add padding to menu items
    &:last-of-type:after
      content: ''
  span
    display: inline-block
    color: white
    padding: 0 10px
  
@media print
  .menu
    display: none
